.example--background {
  @media (min-width: @desktop-width) {
    background: linear-gradient(to top, @additional-basic-bg-color 72%, @base-bg-color 22%);
  }
}

.example__wrapper {
  box-sizing: border-box;
  min-width: 280px;
  padding: 25px 20px 45px;
  background-color: @additional-bg-color;

  @media (min-width: @tablet-width) {
    min-width: 708px;
    padding: 43px 0 60px;
    padding-bottom: 60px;
    background: linear-gradient(to top, @additional-bg-color 43%, @base-bg-color 40%);
    border-top: 1px solid @border-color-menu;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: auto;
    padding: 0;
    padding-bottom: 70px;
    background: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    min-width: 1220px;
    border: none;
  }
}

.example__wrapper-intro {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    background: none;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @base-color;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
    margin-top: 43px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @addicional-basic-color;

  @media (min-width: @tablet-width) {
    max-width: 700px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    max-width: 439px;
    margin-bottom: 69px;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__list {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 367px;
    margin-right: auto;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 367px;
    margin-bottom: 52px;
  }
}

.example__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @base-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
    padding: 0;
    text-align: left;
  }
}

.example__sum {
  @media (min-width: @tablet-width) {
    margin-top: 9px;
  }
}

.example__slider {
  @media (min-width: @tablet-width) {
    min-height: 402px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    min-width: 591px;
  }
}

.example__images {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 29px;
  }
}

.example__image {
  display: block;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 592px;
    height: 511px;
  }
}

.example__wrapper-information {
  @media (min-width: @tablet-width) {
    display: flex;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-bottom: 0;
  }
}

.example__scale {
  display: flex;
  justify-content: space-between;
  padding: 0 39px;
  max-width: 591px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 6px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
