.example--background {
  background: linear-gradient(to top, @additional-basic-bg-color 78%, @base-bg-color 22%);
}

.example__wrapper {
  box-sizing: border-box;
  min-width: 280px;
  padding: 0 20px 40px;
  background-color: @additional-bg-color;

  @media (min-width: @tablet-width) {
    min-width: 708px;
    padding: 0;
    padding-bottom: 60px;
    background: linear-gradient(to top, @additional-bg-color 57%, @base-bg-color 43%);
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: auto;
    padding: 0;
    padding-bottom: 68px;
    background: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    min-width: 1220px;
  }
}

.example__wrapper-intro {
  @media (min-width: @tablet-width) {
    padding: 43px 30px 72px;
    background-color: @base-bg-color;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    background: none;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @base-color;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    font-weight: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @addicional-basic-color;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    max-width: 500px;
    margin-bottom: 69px;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__list {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-right: auto;
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 35px;
  }
}

.example__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @base-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
    text-align: left;
  }
}

.example__slider {
  @media (min-width: @tablet-width) {
    min-height: 402px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 591px;
  }
}

.example__wrapper-information {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.example__scale {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  min-width: 210px;
  max-width: 592px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}
