.information__number {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @base-color;
}

.information__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: @addicional-basic-color;
}
