.contacts__wrapper {
  padding: 26px 20px;
}

.contacts__info--text {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @contacts-color;
}

.contacts__info--address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @addicional-basic-color;
}
