.logo {
  &__icon--text {
    transform: translate(53px, -7px);
  }

  &__icon--tablet {
    display: none;
  }

  &__icon--desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    &__icon--mobile {
      display: none;
    }

    &__icon--text {
      display: none;
    }

    &__icon--tablet {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    &__icon--tablet {
      display: none;
    }

    &__icon--desktop {
      display: block;
      transform: translate(0, 2px);
    }
  }
}
