.logo__img--icon {
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 201px;
    height: 59px;
  }
}

.logo__img--text {
  justify-self: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
