.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__item {
  position: relative;
  padding: 21px 0 23px;
  border-top: 1px solid @border-color-menu;

  &:last-child {
    border-bottom: 1px solid @border-color-menu;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;

    &:last-child {
      border: none;
    }

    &--active {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        left: 15px;
        right: 15px;
        bottom: 0;
        height: 2px;
        background: @button-color;
      }
    }
  }

  @media (min-width: @desktop-width) {
    &--active::after {
      background: @base-bg-color;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  transform: translate(-20px, -55px);
  width: 34px;
  height: 38px;
  background-color: @base-bg-color;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;
  width: 24px;
  height: 1.5px;
  background-color: @base-color;
  box-shadow: 0 8px 0 0 @base-color, 0 16px 0 0 @base-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@base-color, 30%);
  box-shadow:
    0 8px 0 0 fade(@base-color, 30%),
    0 16px 0 0 fade(@base-color, 30%);
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 10px;
    width: 25px;
    height: 1.5px;
    background-color: @base-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@base-color, 30%);
  }
}

.main-nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @base-color;

  &:hover {
    color: @base-color;
    opacity: 60%;
  }

  &:focus {
    color: @base-color;
    opacity: 30%;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    padding: 18px 15px 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: @base-bg-color;

    &:hover {
      color: @base-bg-color;
      opacity: 60%;
    }

    &:focus {
      color: @base-bg-color;
      opacity: 30%;
      outline: none;
    }
  }
}
