.page-header__wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 17px;
  background-color: @base-bg-color;
  color: @base-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: auto;
    padding: 40px 0 40px;
  }
}

.page-header__logo-link {
  display: flex;
  align-items: center;
}

.page-header__wrapper--main {
  @media (min-width: @desktop-width) {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 110px;
    background-color: transparent;
  }
}

.page-header__main-nav {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  min-width: 320px;
  background-color: @base-bg-color;

  @media (min-width: @tablet-width) {
    position: static;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}
