.page-header__wrapper {
  @media (min-width: @tablet-width) {
    padding: 24px 20px 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    padding-top: 54px;

    &--main {
      position: absolute;
      width: 1220px;
      left: 0;
      right: 0;
      margin: auto;
      padding: 51px 0;
      box-sizing: border-box;
      background-color: transparent;
    }
  }
}

.page-header__logo-link {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 191px;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 174px;
  }
}

.page-header__main-nav {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(65px, 1fr));
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
