.form__purpose {
  border: 1px solid #d9d9d9;
  padding: 0;
  margin: 0;
}

.form-purpose__wrapper {
  padding: 20px 20px 20px;
}

.form-purpose__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
