.form__additionally {
  margin: 0;
  padding: 0;
  border: none;
}

.form-additionally__wrapper {
  padding: 0 20px 34px 20px;
}

.form-additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-additionally-item__control-label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @base-color;
}
