.form__data-cat {
  padding: 0;
  margin: 0;
  border: none;
}

.form__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @base-color;
}

.form__button {
  margin-bottom: 21px;
}
