.form__data-owner {
  margin: 0;
  padding: 0 20px;
  border: none;
}

.form-data-owner__wrapper {
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    padding-bottom: 67px;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.form-data-owner__title {
  margin: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @base-color;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form-data-owner__info {
  display: flex;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-data-owner__field-name {
  margin-right: 11px;
  align-self: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  color: @addicional-basic-color;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.form-data-owner__field {
  box-sizing: border-box;
  padding: 0;
  padding-left: 15px;
  width: 100%;
  min-height: 45px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @addicional-basic-color;
  border: 1px solid @border-color;

  @media (min-width: @tablet-width) {
    padding-left: 15px;
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 18px;
  }
}
