.form__data-owner {
  margin: 0;
  padding: 0;
  border: none;
}

.form-data-owner__wrapper {
  padding: 26px 20px 24px;
}

.form-data-owner__title {
  margin-bottom: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @base-color;
}

.form-data-owner__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @addicional-basic-color;
}

.form-data-owner__field {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @addicional-basic-color;
}
