.form-purpose-item__control {
  position: relative;

  &:hover &-mark {
    border: 1px solid @border-hover-color;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form-purpose-item__control-label {
  padding-left: 65px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @addicional-color;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-purpose-item__control-mark {
  position: absolute;
  top: -6px;
  left: 20px;
  width: 30px;
  height: 30px;
  background-color: @base-bg-color;
  border: 1px solid @border-color;
  border-radius: 50%;

  &:focus {
    box-shadow: 0 0 0 2px @addicional-basic-color;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    top: -12px;
    left: 0;
    width: 40px;
    height: 40px;
  }
}

.form-purpose-item__input:checked + .form-purpose-item__control-mark::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background: @button-color;

  @media (min-width: @tablet-width) {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}
