.page-form__wrapper {
  padding: 27px 20px 32px;

  @media (min-width: @tablet-width) {
    padding: 39px 67px 72px 71px;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 110px 82px;
  }
}

.page-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @base-color;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.page-form__text {
  margin: 0;
  margin-bottom: 39px;
  max-width: 226px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @base-color;

  @media (min-width: @tablet-width) {
    max-width: 323px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}
