.page-form__wrapper {
  padding: 27px 0 32px;
}

.page-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @base-color;
}

.page-form__text {
  margin: 0;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @base-color;
}
