.button {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: @base-bg-color;
  background-color: @button-color;
}

.button--choose-program {
  margin: 0 auto;
  padding: 7px 0;
  width: 280px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: 1;
    top: 29px;
    left: 120px;
    width: 244px;
    padding: 14px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    left: 190px;
    transform: translateY(-220px);
  }
}

.button--send-application {
  width: 280px;
  padding: 7px 44px;
  font-size: 16px;
  line-height: 20px;
}

.button--order {
  width: 280px;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;
}

.button--show-all {
  width: 279px;
  padding: 10px 94px;
  font-size: 16px;
  line-height: 20px;
  color: @addicional-basic-color;
  background-color: @additional-basic-bg-color;
}
