.gift--additional-product {
  box-sizing: border-box;
  width: 280px;
  height: 290px;
  padding: 187px 61px 43px 58px;
  background: linear-gradient(
    rgba(104, 183, 56, 0.85),
    rgba(104, 183, 56, 0.85)
  ),
    url("/source/img/catalog/gift-catalog.png");
  background-repeat: no-repeat;
  color: @base-bg-color;
}

.gift__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
